vti_encoding:SR|utf8-nl
vti_author:SR|dell\\user
vti_modifiedby:SR|dell\\user
vti_timelastmodified:TR|16 Nov 2015 13:06:48 -0000
vti_timecreated:TR|19 Oct 2015 06:38:58 -0000
vti_extenderversion:SR|12.0.0.0
vti_nexttolasttimemodified:TW|16 Nov 2015 13:06:36 -0000
vti_backlinkinfo:VX|characters.html
vti_cacheddtm:TX|16 Nov 2015 13:06:48 -0000
vti_filesize:IR|5333
vti_cachedlinkinfo:VX|S|../images/parallax-hyperspace-stars11.jpg
vti_cachedsvcrellinks:VX|FSUS|images/parallax-hyperspace-stars11.jpg
